@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color-dark: #010101;
    --color-blue: #0077fa;
    --color-blue-variant: #b3d8ff;
    --color-blue-hover: #3797ff;
    --color-white: #ffffff;
    --color-background: #eaedf7;
    --color-border: #a6abb9c7;
    --color-border-dark:#292d3a;
    --color-blur:rgba(0, 0, 0, .5);

    --color-red:#de212e;
    --color-red-variant:#ffbfc3;
    --color-sucess:#0bbe50;
    --color-sucess-variant: #b4ffd1;
    --color-medium: #e6ac00;
    --color-medium-variant:#fdeab2;
    
}

*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container{
    background: var(--color-background);
    width: 100%;
    height: 100dvh;
    position: relative;
    display: flex;
    gap: 1.25rem;
}

/* Modal de Sucesso */

.modal-sucess{
    display: none;
    width: 100%;
    height: 100dvh;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5);
}

.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-white);
    width: 450px;
    border-radius: .5rem;
}

.modal-content h2{
    background: var(--color-sucess);
    border-radius: .5rem .5rem 0 0;
    padding: 10px;
    width: 100%;
    color: var(--color-white);
    text-align: center;
}

.modal-content p{
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

.modal-content button{
    background: var(--color-sucess);
    padding: 10px;
    margin: 10px;
    border-radius: .5rem;
    font-size: 18px;
    width: 120px;
    color: var(--color-white);
    font-weight: 700;
    cursor: pointer;
    margin-top: 15px;
}

/* Fim Modal Sucesso */

/* Sidebar e navbar */

.navbar{
    display: none;
    background: var(--color-white);
    padding: .75rem;
    border-bottom: 1px solid var(--color-border) ;
    width: 100%;
    position: fixed;
    user-select: none;
}

.button-menu{
    display: flex;
    align-items: center;
    gap: .5rem;
}

#menu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.3rem;
    padding: .1rem;
    background: transparent;
    border: 1px solid var(--color-border);
    border-radius: .25rem ;
}

.sidebar{
    background: var(--color-white);
    width: 220px;
    height: 100dvh;
    padding: .75rem;
    user-select: none;
    border-right: 1px solid var(--color-border);
}

.top-sidebar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid var(--color-border);
}

.logo{
    display: flex;
    align-items: center;
    gap: .25rem;
}

.logo i{
    color: var(--color-blue);
    font-size: 1.4rem;
}

.top-sidebar button{
    background: transparent;
    display: flex;
    align-items: center;
    padding: .1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
    cursor: pointer;
    justify-content: center;
    font-size: 1.2rem;
}

.top-sidebar button:hover{
    background: var(--color-background);
}

.link-area{
    display: flex;
    padding-top: .5rem;
    gap: 1.25rem;
    flex-direction: column;
}

.button-content{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .65rem;
    font-size: 1.1rem;
    font-weight: 500;
    background: transparent;
    border-radius: .25rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.button-content:hover{
    background-color: var(--color-background);
}

.active{
    background: var(--color-blue);
    color: var(--color-white);
}

.active:hover{
    background: var(--color-blue);
}

#close_sidebar{
    display: none;
}

@media screen and (max-width: 660px) {
    .navbar{
        display: flex;
    }

    .sidebar{
        display: none;
        position: fixed;
        z-index: 99;
    }

    #close_sidebar{
        display: flex;
    }

}

/* Fim Sidebar e navbar */

/* Main */

.main{
    margin-top: 1rem;
    width: 100%;
}

.main h1{
    user-select: none;
}

.content{
    width: 98%;
}

@media screen and (max-width: 660px){
    .main{
        margin-top: 4rem;
        margin-left: 1rem;
    }
}

#home_page{
    display: block;
    overflow-y: scroll;
}

#receitas_page{
    display: none;
    overflow-y: scroll;
}

#lembretes_page{
    display: none;
    overflow-y: scroll;
}

#desempenho_page{
    display: none;
    overflow-y: scroll;
}

#perfil_page{
    display: none;
    overflow-y: scroll;
}

#options_page{
    display: none;
    overflow-y: scroll;
}

/* Fim do Main */

/* Início */
.e{

}
.topo-receitas{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%; 
}

@media screen and (max-width: 930px){
    .topo-receitas{
        flex-wrap: wrap;
    }
}

.item{
    background: var(--color-white);
    width: 100%;
    color: var(--color-dark);
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--color-border);
    flex-grow: 1;
    flex-basis: 200;
}

.item h2{
    padding-bottom: .25rem;
    margin-bottom: .5rem;
    font-weight: 500;
    font-size: 1.3rem;
    border-bottom: 1px dashed var(--color-border);
    user-select: none;
}

.results{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.results span{
    font-size: 1.8rem;
    font-weight: 500;
}

.results span::selection{
    background: var(--color-background);
    color: var(--color-border-dark);
}

.results i{
    font-size: 1.8rem;
    color: var(--color-blue);
}



/* Despesas */

.centro-despesas{
    background: var(--color-white);
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--color-border);
}

.centro-despesas p{
    padding: .5rem 0;
    margin: 0 0 0.5rem ;
    border-bottom: 1px dashed var(--color-border);
}

.input-area-desp{
    display: flex;
    align-items: end;
    gap: .75rem;
    width: 100%;
}

.input-area-desp button{
    background: var(--color-blue);
    padding: .5rem .75rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-weight: 600;
    border-radius: .35rem;
    color: var(--color-white);
}

.input-area-desp button:hover{
    background: var(--color-blue-hover);
}

.input-content-desp input{
    border: 1px solid var(--color-border);
    padding: .5rem;
    margin-top: .25rem;
    border-radius: .35rem;
    outline: none;
    width: 100%;
}

.info-desp{
    border: 1px solid var(--color-border);
    margin: 1rem 0px;
    padding: 2rem 1.35rem;
    border-radius: .5rem;
}

.info-desp h3{
    color: var(--color-border);
    font-weight: 600;
    user-select: none ;
}

.info-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px dashed var(--color-border);
}

.total-desp{
    border: 1px solid var(--color-border);
    padding: .75rem 1rem;
    border-radius: .5rem;
}


.desp span{
    font-weight: 600;
}

.desp label{
    user-select: none;
}

.buttons-desp{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.buttons-desp button{
    width: 100%;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: .35rem;
}

#delete_desp{
    background: var(--color-red-variant);
    color: var(--color-red);
}

#edit_desp{
    background: var(--color-blue-variant);
    color: var(--color-blue);
}

.buttons-desp i{
    font-size: 18px;
}

/* Fim despesas */

/* Saldo */

.saldo{
    background: var(--color-white);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--color-border);
}

.saldo h2{
    padding-bottom: .5rem;
    border-bottom: 1px dashed var(--color-border);
    margin-bottom: .5rem;
}

.info-saldo{
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.info-saldo span{
    font-size: 30px;
    font-weight: 600;
    color: var(--color-border-dark);
}

.info-saldo button{
    padding: .5rem .75rem;
    cursor: pointer;
    border-radius: .35rem;
    color: var(--color-white);
    font-size: 14px;
    font-weight: 600;
    transition: all .2s ease-in-out;
    background: var(--color-blue);
}

.info-saldo button:hover{
    background: var(--color-blue-hover);
}

/* Fim saldo */

/* Responsividade início */

@media screen and (max-width: 1467px){
    .info-content{
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    .desp{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .buttons-desp{
        width: 100%;
    }
}

@media screen and (max-width: 1088px){
    .input-area-desp{
        flex-direction: column;
        align-items: normal;
    }
    .input-area-desp button,
    .input-area-desp input{
        width: 100%;
    }
}
/* Fim  Responsividade início */

/* Fim do Início */

/* Receitas */

.cad-receitas{
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1302px){
    .cad-receitas{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 749px){
    .input-area-receitas{
        flex-direction: column;
    }
    .value-rec{
        flex-direction: column;
    }
    .button-rec{
        width: 100%;
        margin-top: .5rem;
    }
}

.receita-form{
    display: flex;
    flex-direction: column;
    flex-basis: 200 ;
    background: var(--color-white);
    padding: 1rem;
    width: 100%;
    border-radius: .5rem;
    border: 1px solid var(--color-border);
}

.input-area-receitas{
    display: flex;
    margin-top: 1rem;
    align-items: end;
    gap: 1rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

.input-area-receitas input,
.input-area-receitas select{
    border: 1px solid var(--color-border);
    padding: .5rem;
    border-radius: .35rem;
    outline: none;
}

.input-area-receitas button{
    padding: .5rem 1rem;
    border-radius: .35rem;
    transition: all .2s ease-in;
    background: var(--color-blue);
    color: var(--color-white);
    font-weight: 600;
    cursor: pointer;
}

.input-area-receitas button:hover{
    background: var(--color-blue-hover);
}

.results-receitas{
    background: var(--color-white);
    margin-top: 1rem;
    padding: 1.5rem;
    border: 1px solid var(--color-border);
    border-radius: .5rem;
}

.rec-info{
    display: flex;
    flex-direction: column;
    border-bottom: 1px dashed var(--color-border);
    padding: .75rem 0;
}

.rec{
    display: flex;
    flex-direction: column;
}

.title-rec{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: .5rem;
}

.value-rec{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spans-rec{
    display: flex;
    gap: 1rem;
    user-select: none;
}

.spans-rec span{
    font-weight: 600;
    user-select: all;
    font-size: 18px;
}

.button-rec{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.button-rec button{
    width: 100%;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: .35rem;
}

.button-rec i{
    font-size: 18px;
}

#edit_rec{
    background: var(--color-blue-variant);
    color: var(--color-blue);
}

#delete_rec{
    background: var(--color-red-variant);
    color: var(--color-red);
}

.results-receitas h3{
    color: var(--color-border);
    user-select: none;
}
/* Fim receitas */


/* Lembretes */

.lembretes-content{
    background: var(--color-white);
    padding: 1.25rem 1rem;
    border: 1px solid var(--color-border);
    border-radius: .5rem;
}

.info-lembr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed var(--color-border);
    padding: 1rem 0;
}

.lembretes-content h3{
    color: var(--color-border);
}

.lembr span{
    font-weight: 600;
}

.lembr label{
    user-select: none;
}

#vencida{
    background: var(--color-red-variant);
    padding: .35rem .75rem;
    border-radius: .5rem;
    color: var(--color-red);
    user-select: none;
}

#pago{
    background: var(--color-sucess-variant);
    padding: .35rem 1.5rem;
    border-radius: .5rem;
    color: var(--color-sucess);
    user-select: none;
}

#pagar{
    background: var(--color-medium-variant);
    padding: .35rem 1.3rem;
    border-radius: .5rem;
    color: var(--color-medium);
    user-select: none;
}

.button-lembr{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.button-lembr button{
    width: 100%;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: .35rem;
}

.button-lembr i{
    font-size: 18px;
}

#delete_lembr{
    background: var(--color-red-variant);
    color: var(--color-red);
}

#check_lembr{
    background: var(--color-blue-variant);
    color: var(--color-blue);
}

/* Responsividade Lembretes */

@media screen and (max-width: 1506px){
    .info-lembr{
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    .lembr{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .button-lembr{
        width: 100%;
    }
}

/* Fim Responsividade lembretes' */

/* Fim Lembretes */

/* Perfil */

.perfil-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80dvh;
}

.user-informations{
 background: var(--color-white);
 width: 700px;
 user-select: none; 
 padding: 2rem;
 border-radius: .75rem;
 border: 1px solid var(--color-border);
 justify-content: space-between; 
 gap: 1rem;
}

.title-profile{
    text-align: center;
    font-size: 18px;
}

.profile{
    display: flex;
    border-top: 1px solid var(--color-border);
    align-items: center;
    justify-content: space-evenly;
    gap: 4rem;
    margin-top: 1rem;
    padding-top: 15px;
}

@media screen and (max-width: 888px){
    .profile{
        flex-direction: column;
        gap: 1rem;
    }

    .perfil-content{
        height: 100%;
    }
}

.profile img{
    width: 15rem;
    /* border: 1px solid var(--color-border); */
    border-radius: 100%;
}

.info-profile{
    display: flex;
    flex-direction: column ;
    gap: 1rem;
}

.info-profile h1{
    font-size: 30px;
}

.info-profile button{
    padding: .5rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border-radius: .35rem ;
    background: var(--color-blue);
    color: var(--color-white) ;
    font-weight: 600;
    font-size: 16px;
}

.info-profile button:hover{
    background: var(--color-blue-hover);
}

.modal-perfil{
    display: none;
    width: 100%;
    height: 100dvh;
    position: fixed;
    z-index: 99;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5);
}

.modal-perfil-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-white);
    width: 550px;
    padding: 1rem;
    border-radius: .5rem;
}

.top-modal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid var(--color-border);
}

.top-modal button{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    cursor: pointer;
}

.modal-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.inputs-perfil{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#file_input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inputs-perfil input{
    border: 1px solid var(--color-border);
    padding: .5rem;
    outline: none;
    border-radius: .5rem;
}

.button-perfil{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-perfil button{
    padding: .5rem .95rem ;
    border-radius: .5rem;
    cursor: pointer;
    color: var(--color-white);
    font-weight: 600;
}

#confirm{
    background: var(--color-sucess);
}
#cancel{
    background: var(--color-red);
}

.custum-file-upload {
    height: 80px;
    width: 100%;
    display: flex;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--color-border-dark);
    background-color: rgba(255, 255, 255, 1);
    padding: 1rem;
    border-radius: 10px;
  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon i {
    font-size: 30px;
    color: var(--color-border-dark);
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 400;
    color: var(--color-border-dark);
  }
  
  .custum-file-upload input {
    display: none;
  }


/* Fim perfil */

/* Desempenho */

.chart-info{
    background: var(--color-white);
    padding: .75rem;
    border-radius: .75rem;
    border: 1px solid var(--color-border);
}

.saldo-info{
    background: var(--color-white);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--color-border);
}

.saldo-info h4{
    padding-bottom: .5rem;
    border-bottom: 1px dashed var(--color-border);
}

.infos-desemp{
    display: flex;
    margin-top: .5rem;
    flex-direction: column;
    gap: .5rem;
}

.infos-desemp h3{
    background: var(--color-blue-variant);
    padding: .25rem .65rem;
    color: var(--color-blue);
    border-radius: .35rem;
}

.receitas-desemp{
    display: flex;
    gap: .5rem;
}

.receitas-desemp p,
.receitas-desemp span{
    font-size: 18px;
}

.receitas-desemp span{
    font-weight: 600;
}

/* fim desempenho */

/* Opções */

.options-content{
    background: var(--color-white);
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--color-border);
}

.text{
    padding: .75rem;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-background);
    border-radius: .5rem;
    gap: .5rem;
}

.text span{
    font-weight: 600;
    color: var(--color-blue);
}

.text p{
    text-align: justify;
    font-size: 18px;
}
.text h3{
    text-align: justify;
    font-size: 20px;
}

.links-options{
    padding: .75rem;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-background);
    border-radius: .5rem;
    gap: .5rem;
}

.button-options{
    width: 100%;
    justify-content: space-between;
    gap: .5rem;
    align-items: center;
    display: flex;
}

.button-options button{
    width: 100%;
    padding: .5rem;
    font-size: 16px;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background: transparent;
    border: 2px solid var(--color-blue);
    color: var(--color-blue);
    font-weight: 600;
}

.button-options button:hover{
    background: var(--color-blue);
    color: var(--color-white);
}

.contato{
    padding: .75rem;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-background);
    border-radius: .5rem;
    gap: .5rem;
}

.contato span{
    background: var(--color-border-dark);
    border-radius: .35rem;
    display: flex;
    user-select: all;
    gap: .5rem;
    padding: .5rem;
    align-items: center;
    justify-content: center;
    width: 300px;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-white);
}

.contato i{
    font-size: 25px;
    color: var(--color-blue);
}

/* modal options */


#inicio_opt{
    display: none;
}

#receitas_opt{
    display: none;
}

#lembretes_opt{
    display: none;
}

#desempenho_opt{
    display: none;
}

#perfil_opt{
    display: none;
}

.modal-option{
    display: none;
    width: 100%;
    height: 100dvh;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-blur); 
}

.modal-content-opt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-white);
    padding: 1rem;
    width: 1624px; 
    border-radius: .5rem;
}

.top-modal-option{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    border-bottom: 1px dashed var(--color-border);
}

.top-modal-option button{
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    cursor: pointer;
}

.modal-option-content{
    display: flex;
    gap: 1rem;
}

.modal-option-content img{
    width: 60rem;
    border: 1px solid var(--color-background);
    border-radius: .5rem;
}

.text-option{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 19px;
    user-select: none;
}

.text-option p{
    text-align: justify;
}

.email{
    font-size: 18px;
    text-align: center;
}

@media screen and (max-width: 1065px){
    #options{
        display: none;
    }
}

/* fim modal options */

/* fim opções */